@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    box-sizing:border-box;
}

body {
    font-family: 'Questrial', sans-serif;
    background-color: #00184C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
}

h1 {
    color: azure;
}

.screen {
    cursor: pointer;
    width: 60%;
    background-color: black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.controls {
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media(max-width: 800px) {
    .screen, .controls
}

.controls .btn {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.controls .fa-play {
    color: #00184C;
}

.controls .fa-stop {
    color: #00184C;
    margin-right: 20px;
}

.controls .fa-pause {
    color: red;
}

.controls .timespan {
    color: black;
    font-weight: bold;
    margin-left: 20px;
}